<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>This is the student module</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    A adipisci molestiae perferendis rem saepe sapiente veritatis!
    Dolor mollitia quaerat voluptatem.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Amet aut delectus eius est expedita id impedit ipsam minus, officia optio possimus praesentium quis
    reiciendis sapiente voluptatibus? Alias fugiat iure temporibus.</p>
</body>
</html>